<header class="site-header container-fluid py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-3">
        <strong>MEP Academia</strong>
      </div>

      <nav class="col-6 text-center">
        <a href="#" class="text-white mx-3">Inicio</a>
        <a href="#" class="text-white mx-3">Cursos</a>
        <a href="#" class="text-white mx-3">Ruta</a>
        <a href="#" class="text-white mx-3">Recursos</a>
      </nav>

      <div class="col-3 text-end">
        <a href="#" class="btn btn-primary">Comenzar aventura</a>
      </div>
    </div>
  </div>
</header>
